body {
	background-color:#00B9FF;
	margin: 0;
	padding: 0;
}

header {
	
	padding: 1em 1em 1em 1em;
	font-weight: normal;
	color: black;
	background: rgba(242,246,248,1);
background: -moz-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(217,226,232,1) 29%, rgba(180,197,207,1) 51%, rgba(225,240,249,1) 78%, rgba(225,240,249,1) 87%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(242,246,248,1)), color-stop(29%, rgba(217,226,232,1)), color-stop(51%, rgba(180,197,207,1)), color-stop(78%, rgba(225,240,249,1)), color-stop(87%, rgba(225,240,249,1)));
background: -webkit-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(217,226,232,1) 29%, rgba(180,197,207,1) 51%, rgba(225,240,249,1) 78%, rgba(225,240,249,1) 87%);
background: -o-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(217,226,232,1) 29%, rgba(180,197,207,1) 51%, rgba(225,240,249,1) 78%, rgba(225,240,249,1) 87%);
background: -ms-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(217,226,232,1) 29%, rgba(180,197,207,1) 51%, rgba(225,240,249,1) 78%, rgba(225,240,249,1) 87%);
background: linear-gradient(to bottom, rgba(242,246,248,1) 0%, rgba(217,226,232,1) 29%, rgba(180,197,207,1) 51%, rgba(225,240,249,1) 78%, rgba(225,240,249,1) 87%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e1f0f9', GradientType=0 );
}

header div.head {
	overflow: hidden;
	margin-bottom: .5em;
}

header img {
	float: right;
}

header h1 {
	padding-top: .5em;
	border-bottom: 2px solid white;
	font-size: 1.5em;
	margin-bottom: 0.1em;
	text-align: center;
}

hr {
	height: 3px;
	background-color: white;
}

header h2 {
	font-size: 0.9em;
	margin: 0;
}

header nav {
	overflow: hidden;
	border-radius: 3px;
	background: #E39400;
	padding: 1em;
}

header nav div.izda {
	float: left;
}

header nav div.dcha {
	float: right;
}

header nav span + span:before {
    content: " | ";
    padding: 0 .3em;
}

.menuitem {    font-family: verdana, arial, sans-serif;
	border-radius: 3px;
	padding: 10px;
	color: white;
	text-decoration: none;
}

.menuitem:link, .menuitem:visited {
}

.menuitem:hover {
	background-color: white;
}

div.pagina {
	position: relative;
	min-height: 100vh;
}

html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}

section.principal {
  flex: 1 0 auto;
}


footer {
	flex-shrink: 0;
	font-weight: normal;
	color: black;
	padding: 1em;
	background: rgba(242,246,248,1);
background: -moz-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(217,226,232,1) 29%, rgba(180,197,207,1) 51%, rgba(225,240,249,1) 78%, rgba(225,240,249,1) 87%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(242,246,248,1)), color-stop(29%, rgba(217,226,232,1)), color-stop(51%, rgba(180,197,207,1)), color-stop(78%, rgba(225,240,249,1)), color-stop(87%, rgba(225,240,249,1)));
background: -webkit-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(217,226,232,1) 29%, rgba(180,197,207,1) 51%, rgba(225,240,249,1) 78%, rgba(225,240,249,1) 87%);
background: -o-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(217,226,232,1) 29%, rgba(180,197,207,1) 51%, rgba(225,240,249,1) 78%, rgba(225,240,249,1) 87%);
background: -ms-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(217,226,232,1) 29%, rgba(180,197,207,1) 51%, rgba(225,240,249,1) 78%, rgba(225,240,249,1) 87%);
background: linear-gradient(to bottom, rgba(242,246,248,1) 0%, rgba(217,226,232,1) 29%, rgba(180,197,207,1) 51%, rgba(225,240,249,1) 78%, rgba(225,240,249,1) 87%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e1f0f9', GradientType=0 );
}

div.sinpermiso {
	width: 50%;
	margin: auto;	
}

div.error {
	text-align: center;
	border: 1px solid red;
	border-radius: 10px;
	margin: 2em auto .5em auto;
	padding: .5em 2em .5em 2em;
	color: red;
}

