form {
	overflow: hidden;
	background-color: white;
	border: 1px solid black;
	border-radius: 10px;
	margin: 2em 0;
	padding: 2em;
}

div.form {
	width: 50%;
	margin: auto;
}

form label {
	font-weight: bold;
	font-size: 0.7em;
}

form input[type="text"], form input[type="password"] {
	width: 100%;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px; 
	border-bottom: 1px solid blue;
	outline: none;
}

form p.bottom {
	border-radius: 10px;
	background-color:#E39400;
	padding: 1em 2em 1em 2em;
	margin: 0;
	text-align: center;
}
